$header-height: 3em;
$border-radius: 8px;
$padding: 1em;

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #19191950;
    --color-foreground: #262626;
    --color-border: #333;
    --color-raised: #333;
    --color-indented: #1e1e1e;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #f2f2f250;
    --color-foreground: #f7f7f7;
    --color-border: #d0d0d0;
    --color-raised: #ffffff;
    --color-indented: #e7e7e7;
  }
}

$color-primary: #0b91dd;
$color-background: var(--color-background);
$color-foreground: var(--color-foreground);
$border: solid 1px var(--color-border);
$color-raised: var(--color-raised);
$color-indented: var(--color-indented);
$highlight-shadow: 0 0 0 2px $color-primary;
